@use '@scssVariables' as v;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #88b9b5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-card {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1rem 1rem 1rem;
}
.post-card {
  margin-bottom: 1rem;
  background-color: #edeee8;
  width: 45%;
  font-size: 1.3rem;
  border-radius: 8px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.img-card {
  border-radius: 8px;
}
.post-title {
  padding: 0.2rem;
}
.search {
  width: 100vw;
  background-color: #edeee8;
  margin: 1rem;
  border-radius: 25px;
  padding: 0.6rem;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}
// .container-header {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
.container-list {
  background-color: #edeee8;
  width: 100vw;
  text-align: center;
}
.logo {
  font-size: 1.2rem;
  font-weight: 700;
}
.tilte {
  text-align: center;
  padding-top: 5.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.nav-bar {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  min-height: 75px;
  background-color: #edeee8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
}
.nav-bar-link {
  text-decoration: none;
}
.container-list {
  display: flex;
  justify-content: center;
}
.nav-bar-link {
  padding: 0 0.3rem;
  color: inherit;
}
.nav-bar-burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

@media screen and (max-width: 767px) {
  .post-card {
    font-size: 0.5rem;
  }
  .container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100vh;

    right: -100vw;
    bottom: 0;
    padding: 2rem;
    visibility: hidden;
    background-color: #edeee8;
  }
  .show-nav .container-list {
    width: 100vw;
    right: 0;
    visibility: visible;
  }
  .nav-bar-link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  .nav-bar-burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  .nav-bar-burger:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: #88b9b5;
    transition: all 0.5s ease-in-out;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: '';
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }

  .burger-bar::after {
    transform: translateY(12px);
  }
  .show-nav .burger-bar {
    width: 0;
    background: transparent;
  }
  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }
  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }
}
